extends base/layout
block scripts
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/prettify.js')
block stylesheets
    link(rel='stylesheet', href='css/prettify.css', type='text/css')
block content
    div.page-header
        h1 node-spotify
    div.well
        h2 spotify in your node.js app
        pre.prettyprint
            | var spotify = require('spotify')({ appkeyFile: 'spotify_appkeyFile.key' });
            | var ready = function()  {
            |     var starredTracks = spotify.sessionUser.starredPlaylist.getTracks();
            |     spotify.player.play(starredTracks[0]);
            | };
            | spotify.on({
            |     ready: ready
            | });
            | spotify.login('user', 'password', false, false);

    h2 Great, what do i need?
    p To use node-spotify you need
        ul
            li A Spotify premium membership (sorry, this is a constraint for using libspotify). You need to acquire an
                | appkey, too (<a href="https://developer.spotify.com/technologies/libspotify/#application-keys">here</a>).
            li A computer running Linux or OSX with internet access (again sorry, no Windows support at this time)
            li node.js and libspotify installed
    h2 Download
    p I provide precompiled binaries if you don't want to / cannot compile if installing via npm. Just unzip the file and copy
        | the contents to the node_modules directory.
    p Current version: v0.6.0. <a href="https://raw.githubusercontent.com/FrontierPsychiatrist/node-spotify/master/CHANGELOG.txt">Changelog</a>
    ul
        li
            a(href='/builds/0.6.0/node-spotify-0.6.0-linux-arm6hf.zip') Raspberry Pi
        li
            a(href='/builds/0.6.0/node-spotify-0.6.0-OSX.zip') Mac OSX
        li
            a(href='/builds/0.6.0/node-spotify-0.6.0-linux.zip') Linux x86_64

    h2 Source Code
    p The source code is available at
        | <a href="https://github.com/FrontierPsychiatrist/node-spotify" target="_blank">github</a>
    p Have a look at the <a href="programmers.html">programmers section</a> too!

    script.
      !function($) {$(function() {window.prettyPrint && prettyPrint()})}(window.jQuery)
