extends base/layout
block content
  div.page-header
    h1 node-spotify
  h2 What is it?
  p
    |node-spotify allows you to control <a href="http://www.spotify.com" target="_blank">Spotify</a> via your browser! This is extremely
    |useful if you want to play music on one device and control it via another device. A great example is the
    |<a href="http://www.raspberrypi.org">Raspberry Pi</a>. Imagine attaching it to your stereo and then controling the music via your
    |smarthpone! This is what expensive devices from other manufactures can do (e.g. a Sonos), but it runs on a cheap Raspberry Pi.
  h2 Great, what do i need?
  p To use node-spotify you need
    ul
      li A Spotify premium membership (sorry, this is a constraint for using libspotify)
      li A computer running Linux or OSX with internet access (again sorry, no Windows support at this time)<br />
        |Preferrably, this is a Raspberry Pi that is attached to your stereo.
      li A modern webbrowser (<a href="http://www.google.com/chrome" target="_blank">Chrome</a>,
        |<a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>)
  h2 Getting started
  p For installation, downloads and running instructions please go to the <a href="users.html">users section</a>
  h2 Download
  p Current version: v0.3.1. This is only the node.js module.
  ul
    li
      a(href='#') Raspberry Pi (tbd)
    li
      a(href='/builds/0.3.1/OSX/spotify.node') Mac OSX
    li
      a(href='#') Linux x86 (tbd)

  h2 Source Code
  p The source code is available at
    |<a href="https://github.com/FrontierPsychiatrist/node-spotify" target="_blank">github</a>
  p Have a look at the <a href="programmers.html">programmers section</a> too!
