div.page-header
    h2
        a#player Player
    p The player object does not wrap a type of libspotify. It is the central object to play tracks. It is accessible
        | via <code>spotify.player</code>.
    pre.prettyprint
        | {
        |     currentSecond: 3
        | }

    h4 void play(<a href='#track'>track</a> track)
    pre.prettyprint
        | var track = playlist.getTrack(0);
        | spotify.player.play(track);
    p Plays the given track to the end.

    h4 void stop()
    p Stop playing the current track.

    h4 void pause()
    p Pause playing the current track.

    h4 void resume()
    p Resume playing if paused.

    h4 void seek(int second)
    p Seek to the given second on the currently playing track.
    pre.prettyprint
        | spotify.player.seek(98);

    h4 int currentSecond
    p The the current second of the song playing.

    h4 Events
    p You can subscribe to the following events with callback functions
        h6 <code>endOfTrack: function()</code>
        pre.prettyprint
            | var endOfTrack = function() {
            |     console.log('End of track reached');
            | };