div.page-header
    h2
        a#spotify The spotify object
    pre.prettyprint
        | {
        |     rememberedUser: '',
        |     playlistContainer: ...,
        |     sessionUser: ...,
        |     version: '0.6.0'
        | }

    h4 string rememberedUser
    pre.prettyprint
        | console.log(spotify.rememberedUser);
        | //your@email.com
    p The name of the remebered user if present, <code>undefined</code> otherwise.

    h4 void login( string username, string password, bool remember, bool useRemembered )
    pre.prettyprint
        | spotify.login('myusername', 'mypassword', true, false);
    p Starts a spotify session and logs in. Facebook login is possible. The user must have a spotify premium account.
        | If <code>remember</code> is set to true, the user will be remembered and can relogin the next time. If
        | <code>useRemembered</code> is set to true, the remembered user will be used.
    p Use the <code>ready</code> callback to know when it is safe to call further methods and access properties.

    h4
        a#searchCtor search Search( string searchText, optional int offset, optional int limit )
    p This is a constructor for the <a href="#search">search</a> object. All of the four entities <a href="#track">track</a>
        | , <a href="#album">album</a>, <a href="#artist">artist</a> and <a href="#playlist">playlist</a> are searched. For each
        | there is a limit of the number of items to be returned by the search and a offset to start from. The constructor takes
        | global values for these but they can be set individually on the returned object.
    pre.prettyprint
        | var search = new spotify.Search('godspeed you black emperor', 2, 10);

    h4 spotifyObject createFromLink( string link )
    p Creates a spotify object for the given spotify link. Currently playlists, tracks, artists, albums and users are supported.
    pre.prettyprint
        | var track = spotify.createFromLink('spotify:track:05JqOBN6XW4eFUVQlgR0I3');
        | var album = spotify.createFromLink('spotify:album:2rT82YYlV9UoxBYLIezkRq');
        | var artist = spotify.createFromLink('spotify:artist:4svpOyfmQKuWpHLjgy4cdK');
        | var playlist = spotify.createFromLink('spotify:user:spotify_germany:playlist:5w4R5dh4lY71G60lltHUl0');
        | var user = spotify.createFromLink('spotify:user:spotify_germany');
    p If the link is not valid, <code>Undefined</code> is returned.

    h4 <a href="#playlistContainer">playlistContainer</a> playlistContainer
    p The root playlist container, i.e. the one of the user logged in.

    h4 <a href='#user'>user</a> sessionUser
    p The logged in user. Find your starred playlist here.

    h4
        a#waitForLoaded waitForLoaded(object[] objects, function callback)
    p
        | With this helper function you can queue the processing of objects that maybe aren't loaded yet to the point where they will be loaded. Internally it uses the
        | libspotify metadata_updated callback to achieve this. The objects in the array may be loaded at different points in time. The callback takes <b>one</b> of the objects
        | as a parameter.
    .alert.alert-warning Don't attach too many objects
    p This method will happily iterate over all objects on each metadata_updated call which might be very frequent.
    pre.prettyprint
        | function printTrack(track) {
        |     //At this point the track will be loaded
        |     console.log(track);
        | }
        | function waitForTrack(playlist) {
        |     //At this point the playlist will be loaded
        |     var track = playlist.getTracks()[0];
        |     track.position = 0;
        |     console.log('Track is loaded: ' + track.isLoaded);
        |     spotify.waitForLoaded([track], printTrack);
        | }
        | var playlist = spotify.playlistContainer.getPlaylists()[14];
        | spotify.waitForLoaded([playlist], waitForTrack);
    p
        | This example will print the first track of the 14th playlist only when it is available. As Javascript is very dynamic don't forget you can attach own properties to the objects
        | (like the position in this example).

    h4 <a href="#player">player</a> player
    p Object to play tracks.See the description of <a href="#player">player</a>.

    h4 void logout()
    pre.prettyprint
        | spotify.logout(function callback);
    p Logs the user out. The callback will be called as soon as the log out is done. You can also set the callback with the property <code>spotify.onLogout</code>.

    h4 object constants
    p A property containing libspotify constants that are used in some objects.
    pre.prettyprint
        | {
        |     ARTISTBROWSE_FULL: 0,
        |     ARTISTBROWSE_NO_TRACKS: 1,
        |     ARTISTBROWSE_NO_ALBUMS: 2,
        |     PLAYLIST_TYPE_PLAYLIST: 0,
        |     PLAYLIST_TYPE_START_FOLDER: 1,
        |     PLAYLIST_TYPE_END_FOLDER: 2
        | }

    h4 string version
    p The version of node-spotify you are using.

    h5 Events
    p You can register to the following events on <code>spotify</code> via the <code>on</code> method (unregister via <code>off</code>).
        h6 <code>ready: function()</code>
        pre.prettyprint
            | var playlist;
            | var ready = function() {
            |     console.log('spotify is ready!');
            |     playlist = spotify.playlistContainer.getPlaylist(0);
            | };
            | spotify.on({
            |     ready: ready
            | });
            | spotify.login('user', 'password', false, false);
        p Called when it is safe to execute further actions on the <code>spotify</code> object after login. Internally this is called after the
            | <code>root_playlistcontainer</code> has been loaded. This is your typical entry point for all your app code.
        h6 <code>logout: function()</code>
        pre.prettyprint
            | var logout = function() {
            |     console.log('Logged out');
            | };
        p Called when the user is logged out. This is also directly settable in <code>spotify.logout(callback)</code>.
        h6 <code>metadataUpdated: function()</code>
        p This callback is called whenever new data for a spotify type is loaded. It is internally used in <code><a href='#waitForLoaded'>waitForLoaded</a></code>
            | and typically is not needed by a user of node-spotify.