div.page-header
    h2
        a#track Track
    p Tracks can be acquired by calling the <a href="#getTracks">getTracks()</a> method on a <a href="#playlist">playlist</a>
    pre.prettyprint
        | { popularity: 40,
        |     starred: true,
        |     album:
        |      { link: 'spotify:album:2rT82YYlV9UoxBYLIezkRq',
        |     name: 'Lift Your Skinny Fists Like Antennas to Heaven' },
        |     artists:
        |       [ { link: 'spotify:artist:4svpOyfmQKuWpHLjgy4cdK',
        |    name: 'Godspeed You! Black Emperor' } ],
        |    duration: 1399,
        |    link: 'spotify:track:05JqOBN6XW4eFUVQlgR0I3',
        |    name: 'Murray Ostril:"They Don\'t Sleep Anymore On the Beach"'
        | }

    h4 string name
    p The name of the track

    h4 <a href='#album'>album</a> album
    p The <a href="#album">album</a> of the track

    h4 <a href='#artist'>artist[]</a> artists
    p All <a href="#artist">artists</a> for this track

    h4 boolean starred
    p True if the track is starred. This property is settable.

    h4 int popularity
    p The popularity of the song in Spotify.

    h4 int duration
    p The duration of the song in seconds.

    h4 string link
    p The spotify link to the track

    .alert.alert-info The following properties are only available when accessing a track in a playlist.
    h4 <a href='#user'>user</a> creator
    p The user who added the track to the playlist.

    h4 date createTime
    p The date when the track was added to the playlist.

    h4 bool seen
    p If the track was seen, used in inbox playlists.

    h4 string message
    p The message attached to the track, used in inbox playlists.

    h4 int availability
    p The availability of the track. See <code>spotify.constants</code> for named values:
    pre.prettyprint
      | spotify.constants = {
      |   ...,
      |   SP_TRACK_AVAILABILITY_UNAVAILABLE: 0,
      |   SP_TRACK_AVAILABILITY_AVAILABLE: 1,
      |   SP_TRACK_AVAILABILITY_NOT_STREAMABLE: 2,
      |   SP_TRACK_AVAILABILITY_BANNED_BY_ARTIST: 3
      | }